package server

import (
	"github.com/griffin702/ginana/library/mdw"
	"github.com/kataras/iris/v12"
	"github.com/kataras/iris/v12/mvc"

	"{{.ModPrefix}}{{.Name}}/internal/config"
	"{{.ModPrefix}}{{.Name}}/internal/controller/api"
	"{{.ModPrefix}}{{.Name}}/internal/service"
)

func InitRouter(svc service.Service, cfg *config.Config) (e *iris.Application, err error) {
	e = newIris(cfg)
	//sessManager := sessions.New(sessions.Config{
	//	Cookie:  "GiNana_Session",
	//	Expires: 24 * time.Hour,
	//})
	apiParty := mvc.New(e.Party("/api", mdw.CORS([]string{"*"})).AllowMethods(iris.MethodOptions))
	apiParty.Register(svc, getPagination)
	apiParty.Handle(new(api.CApi))
	return
}
